*{
    margin: 0;
    padding: 0;
    /* font-family: 'Josefin Slab', serif; */
}
.carousel-item img{
    width: 100%;
    height: 85vh;
}
.about_image{
    min-width: 100%;
    max-height: 280px;
}
.Services img{
    width: 100%;
    height: 100%;
}
.color_fluid{
    background: #a6dcef;
}
.our-nav{
    position: sticky;
}






/* responsive css code  */

/* / X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */

